[Desktop Entry]
Version=1.0
Type=Application
Name=XTrackCAD
Comment=Design model railroad layouts
Categories=Application;
Exec=xtrkcad
TryExec=xtrkcad
Icon=xtrkcad
Terminal=true
