[Desktop Entry]
Version=1.0
Type=Application
Name=GPSBabel
Comment=
Exec=gpsbabelfe-bin
Terminal=false
StartupNotify=no
Icon=gpsbabel.png
Categories=Education;Science;Geoscience
